.menu {
	position: absolute;
	background: transparent;
	z-index: 100;
	font-size: var(--font-minitext);
}

.menu__content {
	display: none;
	position: absolute;
}

.menu__content-item:hover {
	background: var(--colors-danger);
}

.menu__icon {
	display: block;
	text-align: center;
	width: 40px;
	background: var(--colors-light);
	outline: none;
}

.menu:hover .menu__content {
	display: block;
	background: var(--colors-light);
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.menu:hover .menu__icon {
	background: var(--colors-light);
}

/* -------------------- MODIFIERS */
.menu__content-item-update:hover {
	background: var(--colors-success);
}

.menu__content-item-delete:hover {
	background: var(--colors-danger);
}

.menu__content-item-hidden:hover {
	background: var(--colors-accent-2-light);
}

.menu__content-item-add:hover {
	background: var(--colors-primary-1-light);
}
