.breadcrumb {
	display: flex;
	gap: 1em;
	padding-top: 1em;
}

.breadcrumb__item {
	font-size: var(--font-text);
}

.breadcrumb__item a {
	cursor: auto;
}

/* ---------------- MODIFIERS */
.breadcrumb__item-actived > a {
	color: var(--colors-primary-1-light);
	cursor: pointer;
}

.breadcrumb__item-actived:hover > a {
	opacity: 0.7;
}

/* ---------------- MEDIAQUIRIES */
@media screen and (max-width: 600px) {
	.breadcrumb {
		gap: 0.5em;
	}
}
