.home__header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	gap: 1em;
	padding: 5em var(--padding-width);
	min-height: 90vh;
	background: var(--colors-primary-2-light);
	color: var(--colors-light);
	position: relative;

	background-color: #72a8b3;
	background-image: url("data:image/svg+xml,%3Csvg width='48' height='32' viewBox='0 0 48 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23ffffff' fill-opacity='0.66'%3E%3Cpath d='M27 32c0-3.314 2.686-6 6-6 5.523 0 10-4.477 10-10S38.523 6 33 6c-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 6.627 0 12 5.373 12 12s-5.373 12-12 12c-2.21 0-4 1.79-4 4h-2zm-6 0c0-3.314-2.686-6-6-6-5.523 0-10-4.477-10-10S9.477 6 15 6c3.314 0 6-2.686 6-6h-2c0 2.21-1.79 4-4 4C8.373 4 3 9.373 3 16s5.373 12 12 12c2.21 0 4 1.79 4 4h2z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.home__title,
.home__description {
	flex: 1 1 300px;
	z-index: 100;
}

.home__title {
	font-size: var(--font-bigtitle);
	line-height: 1.3em;
	max-width: 400px;
}

.home__description {
	max-width: 400px;
	font-size: var(--font-text);
	line-height: 1.5em;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	gap: 2em;
	text-align: end;
	color: var(--colors-grey-900);
	background: var(--colors-light);
	padding: 2em;
}

.home__button {
	cursor: pointer;
	width: 150px;
	height: 50px;
	text-align: center;
	transition: 0.3s ease-in-out all;
	background: transparent;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 1em;
}

.home__button span {
	font-size: calc(var(--font-text) - 1px);
	text-transform: uppercase;
	font-weight: 600;
}

.home__button::after,
.home__button::before {
	border: 3px solid var(--colors-grey-900);
	content: "";
	position: absolute;
	width: 100%;
	height: inherit;
	z-index: -1;
	transition: 0.4s ease all;
}

.home__button::before {
	top: 5px;
	left: 5px;
}

.home__button::after {
	top: -5px;
	left: -5px;
}

.home__button:hover::after,
.home__button:hover::before {
	top: 0px;
	left: 0px;
}

@media screen and (max-width: 600px) {
	.home__title,
	.home__description {
		text-align: center;
	}

	.home__button {
		align-self: center;
	}

	.home__button span {
		font-size: calc(var(--font-text) - 4px);
	}
}
