.chapter-card {
	flex: 1 1 300px;

	/* width: 300px; */
	min-height: 500px;
	background: var(--colors-light);
	border-radius: 3px;
	padding: 1em;
	box-shadow: -1px 5px 5px 1px rgba(0, 0, 0, 0.8);
	display: flex;
	flex-direction: column;
	gap: 1em;
	position: relative;
	cursor: pointer;
	transition: 0.2s ease all;
}

.chapter-card__body {
	display: flex;
	flex-direction: column;
	gap: 1em;
	height: 100%;
}

.chapter-card__image {
	width: 100%;
	height: 20em;
	object-fit: cover;
}

.chapter-card__title {
	margin-top: 1em;
	font-size: var(--font-subtitle);
	font-weight: 500;
	color: var(--colors-gray);
}

.chapter-card:hover {
	transform: scale(1.05);
}

.chapter-card__description {
	font-size: var(--font-text);
}

.chapter-card__footer {
	display: flex;
	justify-content: space-between;
	font-size: var(--font-minitext);
}

.chapter-card__username,
.chapter-card__date {
	color: var(--colors-light);
	padding: 0.5em 1em;
	border-radius: 3px;
}

.chapter-card__date {
	background: var(--colors-primary);
}
.chapter-card__username {
	background: var(--colors-primary-2-light);
}

/* Chapter Preview */
.chapterPreview__content-form,
.chapterPreview__content-image {
	width: 100%;
	flex: 1 1 300px;
	max-width: 400px;
}

.chapterPreview {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	gap: 5em;
	width: 100%;
}

.chapterPreview__content-image {
	max-height: 37.5em;
}

.chapterPreview__previewImage {
	width: 100%;
	height: 95%;
	display: block;
	object-fit: cover;
	border-radius: 5px;
}

/* -------------------------- MODIFIERS */
.chapter-card-hover {
	transform: none;
}

/* ------------------------------------- MEDIAQUERIES */
@media screen and (max-width: 1200px) {
	.chapterPreview {
		justify-content: center;
	}

	.chapter-float:hover + .chapter-float {
		margin-left: 0;
	}
}

@media screen and (max-width: 900px) {
	.chapterPreview {
		gap: 1em;
	}
}

@media screen and (max-width: 600px) {
	.chapter-card {
		min-height: 400px;
		margin: 0 2em;
	}
}
